# Environment variables
# Logging format type: gelf or text (default: text)
LOG_FORMAT=text
# Logging level: debug, info, warn, error, fatal, none (default: info)
LOG_LEVEL=debug

# MCP HTTP server
MCP_PORT=3000
MCP_HOST=localhost